In [ ]:
import pandas as pd
df = pd.read_csv('customer_churn_dataset-testing-master.csv')

df.head(3)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0

Hgh Churn Rate - 47.3% of customers are churned

In [ ]:
churn_rate = df['Churn'].value_counts(normalize=True)
churn_rate

Churn
0    0.526315
1    0.473685
Name: proportion, dtype: float64

In [ ]:
churn_counts = df['Churn'].value_counts()
churn_counts

Churn
0    33881
1    30493
Name: count, dtype: int64

Rs 15.3 million Revenue Loss due to Churn

In [ ]:
revenue_loss = df[df['Churn'] == 1]['Total Spend'].sum()
revenue_loss

np.int64(15836117)

Churned customers high tenure months denotes "pricing fatigue", "Competitor giving extra facilities"

In [ ]:
df.groupby('Churn')['Tenure'].mean()

Churn
0    28.826481
1    35.515200
Name: Tenure, dtype: float64

More support calls in churned customers shows **customer issued not resolved, customer dissatisfaction**

In [ ]:
df.groupby('Churn')['Support Calls'].mean()

Churn
0    4.500753
1    6.400617
Name: Support Calls, dtype: float64

In [ ]:
df[df['Churn']==1]['Subscription Type'].value_counts()

Subscription Type
Basic       10356
Standard    10177
Premium      9960
Name: count, dtype: int64

In [ ]:
df[df['Churn']==1]['Contract Length'].value_counts()

Contract Length
Monthly      11421
Annual        9895
Quarterly     9177
Name: count, dtype: int64

In [ ]:
AvgChurnAge=df[df['Churn']==1]['Age'].mean()
AvgChurnAge

np.float64(42.9024038303873)

Female Customers have more churn rate

In [ ]:
df[df['Churn']==1]['Gender'].value_counts(normalize=True)

Gender
Female    0.620175
Male      0.379825
Name: proportion, dtype: float64

Which subscription–contract combination is the most risky?


---


**Basic subscription** with **Monthly contract**

Churn rate ≈ **52.1%**

Customers on **Basic monthly plans** are the **highest churn-risk** segment and should be the **top priority for retention strategies** such as discounts, upgrades, or engagement campaigns.:

In [ ]:
df.groupby(['Subscription Type','Contract Length'])['Churn'].mean().sort_values(ascending=False)

Subscription Type  Contract Length
Basic              Monthly            0.521090
Standard           Monthly            0.518508
Premium            Monthly            0.508706
Basic              Annual             0.471321
Standard           Annual             0.458745
Premium            Annual             0.456396
Basic              Quarterly          0.453824
Standard           Quarterly          0.440649
Premium            Quarterly          0.426986
Name: Churn, dtype: float64

In [ ]:
df.groupby(['Churn'])['Usage Frequency'].mean()

Churn
0    16.042915
1    14.010593
Name: Usage Frequency, dtype: float64

**payment delay** increases churn probability

In [ ]:
df.groupby(['Churn'])['Payment Delay'].mean()

Churn
0    12.453086
1    22.334897
Name: Payment Delay, dtype: float64

In [ ]:
df.groupby(['Churn'])['Last Interaction'].mean()

Churn
0    15.521944
1    15.473191
Name: Last Interaction, dtype: float64

**Average total spend** of churned vs retained customers

In [ ]:
df.groupby(['Churn'])['Total Spend'].mean()

Churn
0    560.541956
1    519.336143
Name: Total Spend, dtype: float64


# **Common characteristics of high-risk churn customers:**


Mostly on **Basic subscription with Monthly contracts** (highest churn rate)

Have **higher tenure**, indicating **pricing fatigue or competitor switching**

Make **more support calls**, suggesting **unresolved issues and dissatisfaction**

Experience more **payment delays, increasing churn** likelihood

Show lower engagement / usage frequency

Have longer gaps since last interaction, **indicating reduced interest**

Contribute to significant **revenue loss** despite churning

**Female customers** show a relatively **higher churn share**

Average spend differs, but churned users tend to **reduce long-term value**

Likely motivated by **better competitor offers or unmet expectations**